@charset "UTF-8";
@import url("./reset.css");
body,
html {
  font-size: 10px;
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
}

body {
  overflow: hidden;
}

/*初期画面*/
#index {
  background-color: #000;
  display: table;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 10;
}

#index p {
  color: #fff;
}

#index p span {
  font-family: 'Lato', sans-serif;
  opacity: 0;
}

#index p span.showLet {
  opacity: 1;
}

#index__body {
  display: table-cell;
  vertical-align: middle;
}

#index #skip a {
  color: #fff;
  display: block;
  font-size: 20px;
  position: absolute;
  top: 50px;
  right: 50px;
  text-decoration: underline;
}

#index #enter-btn {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 30px;
  margin: 50px auto 0;
  opacity: 0;
  padding: 10px;
  width: 500px;
}

#index #enter-btn:hover {
  background: rgba(204, 204, 204, 0.5);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

header ul li {
  background: rgba(204, 204, 204, 0.3);
  float: left;
  font-size: 20px;
  padding: 5px 0;
  text-align: center;
  width: 20%;
}

header ul li + li {
  border-left: 1px solid #fff;
}

header ul li > a {
  color: #fff;
}

/*固定する背景*/
div {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

/*各背景の画像*/
.img-bg-01 > .bg-txt {
  font-family: 'Open Sans', sans-serif;
  font-size: 140px;
  line-height: 1.2;
  opacity: 0.8;
  text-align: right;
  width: 900px;
}

.img-bg-01 video {
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: -10;
}

.img-bg-02 {
  background-image: url("../img/photo2.jpg");
}

.img-bg-03 {
  background-image: url("../img/photo3.jpg");
}

.img-bg-04 {
  background-image: url("../img/photo4.jpg");
}

.img-bg-05 {
  background-image: url("../img/photo5.jpg");
}

/*スクロールするコンテンツ*/
.scrollbox {
  background-color: #333;
  min-height: 500px;
}

.scrollbox__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  padding: 5%;
  position: relative;
  -webkit-transform: translate(-200%, 0);
  transform: translate(-200%, 0);
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
  width: 100%;
}

.scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.scrollbox1 {
  background-color: #ddd;
}

.scrollbox2 {
  background-color: #eee;
}

.scrollbox3 {
  background-color: #ccc;
}

.scrollbox4 {
  background-color: #bbb;
}

.scrollbox5 {
  background-color: #aaa;
}

.scrollbox6 {
  background-color: #333;
}

.show {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
