@charset "UTF-8";
@import url("./reset.css");
body,
html {
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
}

body {
  overflow: hidden;
}

.sp-show {
  display: none;
}

#loading {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#container {
  display: none;
  height: 100%;
}

/*初期画面*/
#index {
  background-color: #000;
  display: table;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: 10;
}

#index p {
  color: #fff;
}

#index p span {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  opacity: 0;
}

#index p span + span {
  margin-left: 10px;
}

#index p.blue {
  color: #03f;
}

#index p.red {
  color: #f00;
}

#index__body {
  display: table-cell;
  vertical-align: middle;
}

#index__body > p + p {
  margin-top: 20px;
}

#index #skip {
  position: absolute;
  top: 50px;
  right: 50px;
}

#index #skip a {
  color: #fff;
  display: block;
  font-size: 20px;
  text-decoration: underline;
}

#index #enter-btn {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 30px;
  margin: 50px auto 0;
  opacity: 0;
  padding: 10px;
  width: 400px;
}

#index #enter-btn:hover {
  background: rgba(204, 204, 204, 0.5);
}

/* コンテンツ */
#main,
#contents {
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: 5;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

header ul li {
  background: rgba(0, 0, 0, 0.4);
  float: left;
  font-size: 20px;
  padding: 5px 0;
  text-align: center;
  width: 16.666%;
}

header ul li + li {
  border-left: 1px solid #fff;
}

header ul li > a {
  color: #fff;
}

/*top*/
#top h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 120px;
  line-height: 1.2;
  opacity: 0.6;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: right;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 750px;
}

#top video {
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: -10;
}

/* content */
.content {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}

.content__inner {
  background: linear-gradient(-225deg, rgba(255, 187, 0, 0.2) 10%, rgba(255, 83, 76, 0.3) 80%);
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  height: 100%;
  opacity: 0;
  padding: 60px 20px 20px;
  position: relative;
  -webkit-transform: translate(-200%, 0);
  transform: translate(-200%, 0);
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
  width: 100%;
}

.content__inner article {
  margin: 0 auto;
  max-width: 900px;
}

.content__inner article h2 {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.content__inner article h2 span {
  display: block;
  padding-left: 10px;
  position: relative;
  left: -100%;
  -webkit-transition: all ease 1000ms;
  transition: all ease 1000ms;
}

.content__inner article .article__txt {
  background: rgba(255, 255, 255, 0.4);
  color: #222;
  font-size: 18px;
  margin-top: 30px;
  padding: 20px;
}

#article01 {
  background-image: url("../img/photo1.jpg");
}

#article02 {
  background-image: url("../img/photo2.jpg");
}

#article03 {
  background-image: url("../img/photo3.jpg");
}

#article04 {
  background-image: url("../img/photo4.jpg");
}

#article05 {
  background-image: url("../img/photo5.jpg");
}

/*スクロールするコンテンツ*/
.scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.show {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

@media screen and (max-width: 812px) {
  .sp-hide {
    display: none;
  }
  .sp-show {
    display: inline;
  }
  #index {
    padding: 0 10px;
    width: 100%;
  }
  #index__body {
    width: 100%;
  }
  #index #enter-btn {
    font-size: 20px;
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    width: auto;
  }
  #index p span {
    font-size: 35px;
  }
  #index #skip {
    top: 20px;
    right: 20px;
  }
  .content {
    font-size: 16px;
  }
  .content__inner {
    padding-right: 15px;
    padding-left: 15px;
  }
  .content__inner article h2 {
    font-size: 26px;
  }
  #top > h1 {
    font-size: 60px;
    line-height: 1.2;
    width: 90%;
  }
  #top video {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 812px) and (orientation: landscape) {
  #top video {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  #top video {
    height: 100%;
    width: auto;
  }
}
