@charset "UTF-8";
@import url("./reset.css");
body,
html {
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
}

body {
  overflow: hidden;
}

.sp-show {
  display: none;
}

#loading {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#container {
  display: none;
  height: 100%;
}

/*初期画面*/
#index {
  background-color: #000;
  display: table;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: 10;
}

#index p {
  color: #fff;
}

#index p span {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  opacity: 0;
}

#index p span + span {
  margin-left: 10px;
}

#index p.blue {
  color: #03f;
}

#index p.red {
  color: #f00;
}

#index__body {
  display: table-cell;
  vertical-align: middle;
}

#index__body > p + p {
  margin-top: 20px;
}

#index #skip {
  position: absolute;
  top: 50px;
  right: 50px;
}

#index #skip a {
  color: #fff;
  display: block;
  font-size: 20px;
  text-decoration: underline;
}

#index #enter-btn {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 30px;
  margin: 50px auto 0;
  opacity: 0;
  padding: 10px;
  width: 400px;
}

#index #enter-btn:hover {
  background: rgba(204, 204, 204, 0.5);
}

/* コンテンツ */
#main {
  height: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: 2;
}

header ul:after {
  content: "";
  display: block;
  clear: both;
}

header ul li {
  background: rgba(204, 204, 204, 0.3);
  float: left;
  font-size: 20px;
  padding: 5px 0;
  text-align: center;
  width: 16.666%;
}

header ul li + li {
  border-left: 1px solid #fff;
}

header ul li > a {
  color: #fff;
}

/*固定する背景*/
.parallax-bg {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

/*各背景の画像*/
.img-bg-01 > .bg-txt {
  font-family: 'Open Sans', sans-serif;
  font-size: 120px;
  line-height: 1.2;
  opacity: 0.7;
  text-align: right;
  width: 900px;
}

.img-bg-01 video {
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  width: 100%;
  z-index: -10;
}

.img-bg-02 {
  background-image: url("../img/photo1.jpg");
}

.img-bg-03 {
  background-image: url("../img/photo2.jpg");
}

.img-bg-04 {
  background-image: url("../img/photo3.jpg");
}

.img-bg-05 {
  background-image: url("../img/photo4.jpg");
}

/*スクロールするコンテンツ*/
.scrollbox {
  background-color: #333;
  height: 100%;
  min-height: 100vh;
}

.scrollbox__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  opacity: 0;
  padding: 5%;
  position: relative;
  -webkit-transform: translate(-200%, 0);
  transform: translate(-200%, 0);
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms;
  width: 100%;
}

.scrollin {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.scrollbox1 {
  background-color: #ddd;
}

.scrollbox2 {
  background-color: #eee;
}

.scrollbox3 {
  background-color: #ccc;
}

.scrollbox4 {
  background-color: #bbb;
}

.scrollbox5 {
  background-color: #aaa;
}

.scrollbox6 {
  background-color: #333;
}

.show {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

@media screen and (max-width: 812px) {
  .sp-hide {
    display: none;
  }
  .sp-show {
    display: inline;
  }
  #index {
    padding: 0 10px;
  }
  #index__body {
    width: 100%;
  }
  #index #enter-btn {
    font-size: 20px;
    margin-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    width: auto;
  }
  #index p span {
    font-size: 35px;
  }
  #index #skip {
    top: 20px;
    right: 20px;
  }
  .parallax-bg {
    font-size: 30px;
  }
  .img-bg-01 > .bg-txt {
    font-size: 60px;
    line-height: 1.2;
    width: 90%;
  }
  .img-bg-01 video {
    height: 100%;
    width: auto;
  }
}

@media screen and (max-width: 812px) and (orientation: landscape) {
  .img-bg-01 video {
    height: auto;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .img-bg-01 video {
    height: 100%;
    width: auto;
  }
}
