@charset "UTF-8";
@import url("./reset.css");
body,
html {
  font-size: 10px;
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
}

/*固定する背景*/
div {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
}

.parallax-bg {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

/*各背景の画像*/
.img-bg-01 video {
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: -10;
}

.img-bg-02 {
  background-image: url("../img/photo2.jpg");
}

.img-bg-03 {
  background-image: url("../img/photo3.jpg");
}

.img-bg-04 {
  background-image: url("../img/photo4.jpg");
}

.img-bg-05 {
  background-image: url("../img/photo5.jpg");
}

.img-bg-06 {
  background-image: url("../img/photo6.jpg");
}

/*スクロールするコンテンツ*/
.scrollbox {
  background-color: #fff;
  min-height: 500px;
}

.scrollbox__inner {
  padding: 5%;
  position: relative;
  top: 0;
  left: -100%;
  -webkit-transition: all 300ms 0s ease;
  transition: all 300ms 0s ease;
  width: 100%;
}

.scrollbox1 {
  background-color: #ddd;
}

.scrollbox2 {
  background-color: #eee;
}

.scrollbox3 {
  background-color: #ccc;
}

.scrollbox4 {
  background-color: #bbb;
}

.scrollbox5 {
  background-color: #aaa;
}

.scrollbox6 {
  background-color: #333;
}

.show {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
