@import url("./reset.css");
#flex-item {
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px 10px 0;
  width: 700px;
}

#flex-item > div {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 10px;
  width: calc((100% - 30px) / 4);
}

#flex-item > div + div {
  margin-left: 10px;
}

#flex-item > div:nth-child(4n+1) {
  margin-left: 0;
}

#flex-item > div.red {
  background-color: red;
  border: 0;
  color: #fff;
}

#flex-item > div.blue {
  background-color: #00f;
  border: 0;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 700px;
}

.block {
  display: table;
  margin: 20px 0;
  table-layout: fixed;
}

.block .block__element {
  border: 1px solid #666;
  display: table-cell;
  padding: 9px;
}

.block .block__element img {
  height: auto;
  width: 250px;
}

.block .block__element:hover {
  background: #dd3;
}
