<% include common/_heading %>
  <meta name="description" content="説明文">
  <title>sample01</title>
<% var familyName = test[0].familyName; %>
<% var firstName = test[0].firstName; %>
</head>
<body>
<main>

</main>

<% include common/_footer %>
