<% include common/_heading %>
<title>sample02</title>
<link rel="stylesheet" href="../css/sample02.css">
</head>

<body>
  <main>
<% for (var i in godardData) { %>
    <div class="parallax-bg<%= godardData[i].bgClassName %>">
      <p class="bg-txt"><%= godardData[i].bgTxt %></p>
<% if(godardData[i].movie) { %>
      <video src="../img/movie1.mp4" poster="" autoplay loop muted></video>
<% } %>
    </div>
    <div class="scrollbox">
      <div class="scrollbox__inner<%= godardData[i].contsClassName %>">
        スクロールコンテンツ
      </div>
    </div>
<% } %>
  </main>
<script src="../js/sample.min.js" charset="utf-8"></script>
  <% include common/_footer %>
