@import url("./reset.css");

@mixin clearfix {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

body,
html {
  font-size: 10px;
  height: 100%;
  margin: 0 auto;
  letter-spacing: 2px;
}

body {
  overflow: hidden;
}

.sp-show {
  display: none;
}

/*初期画面*/
#index {
  background-color: #000;
  display: table;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 10;
  p {
    color: #fff;
    span {
      font: {
        family: 'Lato', sans-serif;
        size: 50px;
      }
      opacity: 0;
      &.showLet {
        opacity: 1;
      }
      & + span {
        margin-left: 10px;
      }
    }
    &.blue {
      color: #03f;
    }
    &.red {
      color: #f00;
    }
  }
  &__body {
    display: table-cell;
    vertical-align: middle;
  }
  #skip {
    position: absolute;
    top: 50px;
    right: 50px;
    a {
      color: #fff;
      display: block;
      font-size: 20px;
      text-decoration: underline;
    }
  }
  #enter-btn {
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 30px;
    margin: 50px auto 0;
    opacity: 0;
    padding: 10px;
    width: 400px;
    &:hover {
      background: rgba(204, 204, 204, 0.5);
    }
  }
}
 #main {
   height: 100%;
 }
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  ul {
    @include clearfix;
    li {
      background: rgba(204, 204, 204, 0.3);
      float: left;
      font-size: 20px;
      padding: 5px 0;
      text-align: center;
      width: calc(100% / 6);
      & + li {
        border-left: 1px solid #fff;
      }
      & > a {
        color: #fff;
       }
    }
  }
}

/*固定する背景*/

.parallax-bg {
  align-items: center;
  font-size: 5rem;
  display: flex;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  background: {
    attachment: fixed;
    position: center;
    size: cover;
    repeat: no-repeat;
  }
  color: #fff;
}
/*各背景の画像*/
.img-bg-01 {
  & > .bg-txt {
    font: {
      family: 'Open Sans', sans-serif;
      size: 120px;
    }
    line-height: 1.2;
    opacity: 0.7;
    text-align: right;
    width: 900px;
  }
  video {
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: -10;
  }
}

.img-bg-02 {
  background-image: url("../img/photo2.jpg");
}

.img-bg-03 {
  background-image: url("../img/photo3.jpg");
}

.img-bg-04 {
  background-image: url("../img/photo4.jpg");
}

.img-bg-05 {
  background-image: url("../img/photo5.jpg");
}

/*スクロールするコンテンツ*/
.scrollbox {
  background-color: #333;
  height: 100%;
  min-height: 100vh;
}

.scrollbox__inner {
  display: flex;
  height: 100%;
  opacity: 0;
  padding: 5%;
  position: relative;
  transform: translate(-200%, 0);
  transition: all ease 500ms;
  width: 100%;
}

.scrollin {
  opacity: 1;
  transform: translate(0, 0);
}

.scrollbox1 {
  background-color: #ddd;
}

.scrollbox2 {
  background-color: #eee;
}

.scrollbox3 {
  background-color: #ccc;
}

.scrollbox4 {
  background-color: #bbb;
}

.scrollbox5 {
  background-color: #aaa;
}

.scrollbox6 {
  background-color: #333;
}

.show {
  transform: translateX(100%);
}

@media screen and (max-width:750px) {
  .sp-hide {
    display: none;
  }
  .sp-show {
    display: inline;
  }
  #index {
    padding: 0 10px;
    &__body {
      width: 100%;
    }
    #enter-btn {
      font-size: 20px;
      margin-top: 30px;
      width: 90%;
    }
    p {
      span {
        font-size: 35px;
      }
    }
    #skip {
      top: 20px;
      right: 20px;
    }
  }
  .parallax-bg {
    font-size: 30px;
  }
  .img-bg-01 {
    & > .bg-txt {
      font: {
        size: 60px;
      }
      line-height: 1.2;
      width: 90%;
    }
    video {
      height: 100%;
      width: auto;
    }
  }
  @media screen and (orientation: landscape) {
    .img-bg-01 {
      video {
        height: auto;
        width: 100%;
      }
    }
  }
}
