#index {
  p {
    span {
      animation: {
        name: fadeIn;
        duration: 0.5s;
        timing-function: ease;
        animation-iteration-count: 1;
        fill-mode: forwards;
      }
      &.letter1 {
        animation-delay: 1s;
      }
      &.letter2 {
        animation-delay: 1.5s;
      }
      &.letter3 {
        animation-delay: 2s;
      }
      &.letter4 {
        animation-delay: 2.5s;
      }
      &.letter5 {
        animation-delay: 3s;
      }
      &.letter6 {
        animation-delay: 3.5s;
      }
      &.letter7 {
        animation-delay: 4s;
      }
      &.letter8 {
        animation-delay: 4.5s;
      }
      &.letter9 {
        animation-delay: 5s;
      }
      &.letter10 {
        animation-delay: 5.5s;
      }
      &.letter11 {
        animation-delay: 6s;
      }
      &.letter12 {
        animation-delay: 6.5s;
      }
      &.letter13 {
        animation-delay: 7s;
      }
      &.letter14 {
        animation-delay: 7.5s;
      }
    }
  }
  #enter-btn {
    animation: fadeIn 1s ease 8.5s 1 forwards;
  }
  @keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
  }
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
