@import url("./reset.css");

#flex-item {
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 10px 10px 0;
  width: 700px;

  & > div {
    align-items: center;
    border: 1px solid #ccc;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-bottom: 10px;
    width: calc((100% - 30px) / 4);

    + div {
      margin-left: 10px;
    }

    &:nth-child(4n+1) {
      margin-left: 0;
    }

    &.red {
      background-color: red;
      border: 0;
      color: #fff;
    }

    &.blue {
      background-color: #00f;
      border: 0;
      color: #fff;
    }
  }
}

.container {
  margin: 0 auto;
  width: 700px;
}

.block {
  $this: &;

  display: table;
  margin: 20px 0;
  table-layout:fixed;
  #{$this}__element {
    border: 1px solid #666;
    display: table-cell;
    padding: 9px;
    img {
      height: auto;
      width: 250px;
    }
    &:hover {
      background: #dd3;
    }
  }
}
